body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(hsl(155, 100%, 85%),#b3d4ff);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#timeStamp {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: navy;
    background-color: white;
    padding: 0.3rem 0.6rem;
    border: 3px solid navy;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 0 blueviolet;
}

#gameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

canvas {
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 3rem;
    border: 3px solid navy;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 0 blueviolet;
    text-align: center;
    color: navy;
}

#gameOverMessage {
    font-size: 1.5rem;
}

#resetButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: navy;
    padding: 0.5rem 1rem;
    border: 3px solid white;
    border-radius: 0.4rem;
    box-shadow: 10px 10px 0 blueviolet;
    cursor: pointer;
    margin-top: 1rem;
}
